Repository Jdyn/membrane_rtc_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mickel8, @Karolk99, @sgfn

Add autoend in FileEndpoint
  file/lib/file_source_endpoint.ex
  file/mix.lock
  integration_test/mix.lock
  integration_test/test/hls_endpoint_test.exs
  sip/lib/sip_endpoint.ex
  sip/test/sip_test.exs
Owners: @mickel8, @Karolk99

Add test cases
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/sip.conf.template
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/test/sip_test.exs
Owners: @mickel8

Add some docs
  sip/README.md
  sip/internal_docs/sip_endpoint.md
  sip/lib/sip_endpoint.ex
  sip/mix.exs
Owners: @mickel8

Fixing tests
  engine/lib/membrane_rtc_engine/engine.ex
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/startup.sh
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
  sip/test/sip_test.exs
Owners: @mickel8

Wip fix
  sip/lib/sip/call.ex
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Add bunch.access
  sip/lib/sip/call.ex
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Fix port in headers
  sip/lib/sip/call/headers.ex
Owners: @mickel8

Lock deps, cosmetic changes in PortAllocator
  sip/lib/sip/port_allocator.ex
  sip/mix.exs
  sip/mix.lock
Owners: @mickel8

Add test case for multiple SIP Endpoints
  sip/mix.exs
  sip/test/sip_test.exs
Owners: @mickel8

Move to membrane_g711_plugin. Make end_call delete the endpoint when unregistered
  sip/internal_docs/sip_endpoint.md
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
Owners: @mickel8

Add more tests
  engine/lib/membrane_rtc_engine/engine.ex
  sip/asterisk/config/extensions.conf
  sip/asterisk/config/voicemail.conf
  sip/asterisk/sounds/audio0_short.alaw
  sip/asterisk/sounds/audio1_long.alaw
  sip/asterisk/sounds/audio1_short.alaw
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
  sip/test/fixtures/audio0_short.aac
  sip/test/sip_test.exs
Owners: @mickel8

Handle call declined
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Render mermaid graphs in docs
  sip/mix.exs
Owners: @mickel8

Handle parent_notification endpoint_removed in SIPEndpoint
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Add `set_port_range` fun
  sip/lib/sip_endpoint.ex
Owners: @mickel8

UT for timeouts
  sip/test/sip/call_test.exs
Owners: @mickel8

Override membrane_PDP
  sip/mix.exs
  sip/mix.lock
Owners: @mickel8

Remove g711 from element names
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
Owners: @mickel8

Add proper removing children in handle_remove_pad
  engine/lib/membrane_rtc_engine/engine.ex
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Add PortAllocator, bump and lock deps
  sip/lib/application.ex
  sip/lib/sip/call.ex
  sip/lib/sip/port_allocator.ex
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
  sip/test/sip_test.exs
Owners: @mickel8

Fix cancels removing invites from pending reqs
  sip/lib/sip/call.ex
  sip/test/sip/call_test.exs
Owners: @mickel8

Remove changes in port_allocator
  sip/lib/sip/port_allocator.ex
Owners: @mickel8

Fix cancel using incorrect cseq
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/outgoing_call_test.exs
Owners: @mickel8

Ignore new TrackNotification message
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Maybe fix CallTest on CI
  sip/test/sip/call_test.exs
Owners: @mickel8

Add routing unit test
  sip/lib/sip/outgoing_call.ex
  sip/test/sip/outgoing_call_test.exs
Owners: @mickel8

Add funnel in SIPEndpoint
  sip/lib/sip_endpoint.ex
  sip/mix.exs
  sip/mix.lock
Owners: @mickel8

Fix funnel
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Fix target and route in make_request
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
Owners: @mickel8

Update integration_test deps
  integration_test/mix.lock
  sip/lib/sip/call.ex
Owners: @mickel8

Move Asterisk to integration_test directory
  .circleci/continue_config.yml
  integration_test/.gitignore
  integration_test/asterisk/config/extensions.conf
  integration_test/asterisk/config/modules.conf
  integration_test/asterisk/config/rtp.conf
  integration_test/asterisk/config/sip.conf.template
  integration_test/asterisk/config/startup.sh
  integration_test/asterisk/sounds/audio0.aac
  integration_test/asterisk/sounds/audio0_short.alaw
  integration_test/asterisk/sounds/audio1.aac
  integration_test/asterisk/sounds/audio1_long.alaw
  integration_test/asterisk/sounds/audio1_short.alaw
  integration_test/docker-compose-test.yaml
  integration_test/docker-compose.yaml
  integration_test/mix.exs
  integration_test/mix.lock
  integration_test/test/fixtures/audio0.aac
  integration_test/test/fixtures/audio0_short.aac
  integration_test/test/sip_endpoint_test.exs
  rtsp/mix.exs
  rtsp/mix.lock
  sip/mix.exs
  sip/test/fixtures/audio1.aac
  sip/test/fixtures/audio2.aac
  sip/test/fixtures/audio3.aac
  sip/test/fixtures/audio4.aac
  sip/test/fixtures/audio5.aac
  sip/test/fixtures/audio6.aac
Owners: @mickel8, @sgfn

Fix tests
  sip/lib/sip/call.ex
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip/port_allocator.ex
Owners: @mickel8

Proxy auth
  sip/lib/sip/call.ex
  sip/lib/sip/register_call.ex
Owners: @mickel8

Fix proxy auth headers
  sip/lib/sip/call.ex
Owners: @mickel8

Update mix.lock
  engine/mix.lock
  file/mix.lock
  webrtc/mix.lock
Owners: @mickel8

Update endpoint moduledoc
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Handle all responses even with bigger cseq
  sip/lib/sip/call.ex
Owners: @mickel8

Handle routing
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
Owners: @mickel8

Update changelog
  engine/CHANGELOG.md
  file/CHANGELOG.md
  rtsp/CHANGELOG.md
  webrtc/CHANGELOG.md
Owners: @mickel8, @sgfn

Update deps
  hls/CHANGELOG.md
  hls/mix.lock
  integration_test/docker-compose-test.yaml
  integration_test/mix.lock
  sip/mix.exs
  sip/mix.lock
Owners: @Karolk99, @mickel8

.github/CODEOWNERS:

* @mickel8

# HLS
hls/ @Karolk99
*hls* @Karolk99

# RTSP
rtsp/ @sgfn
*rtsp* @sgfn
