Repository Jdyn/membrane_rtc_engine, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mickel8, @Karolk99, @sgfn

Fix SIP integration tests
  integration_test/test/sip_endpoint_test.exs
  sip/lib/sip/outgoing_call.ex
  sip/lib/sip_endpoint.ex
  sip/mix.lock
Owners: @mickel8

Add subscribe function in HLS Endpoint
  hls/lib/hls_endpoint.ex
  integration_test/test/hls_endpoint_test.exs
  integration_test/test/sip_endpoint_test.exs
  sip/lib/sip_endpoint.ex
Owners: @Karolk99, @mickel8

Fix sender not sending eos until keyframe
  engine/lib/membrane_rtc_engine/static_track_sender.ex
Owners: @mickel8

changelog
  engine/CHANGELOG.md
Owners: @mickel8

Fix File endpoint tests
  file/CHANGELOG.md
  file/mix.lock
  file/test/file_endpoint_test.exs
Owners: @mickel8

Fix tests
  file/mix.lock
  file/test/file_endpoint_test.exs
  integration_test/test/hls_endpoint_test.exs
Owners: @mickel8, @Karolk99

Increase timeout
  integration_test/test/hls_endpoint_test.exs
Owners: @Karolk99

Add traces in hls cleanup test
  integration_test/test/hls_endpoint_test.exs
Owners: @Karolk99

Add log
  engine/lib/membrane_rtc_engine/engine.ex
Owners: @mickel8

Increase resource class
  .circleci/continue_config.yml
Owners: @mickel8

Add new option in FileEndpoint
  engine/lib/membrane_rtc_engine/static_track_sender.ex
  engine/test/support/fake_source_endpoint.ex
  file/lib/file_source_endpoint.ex
  integration_test/docker-compose-test.yaml
  integration_test/test/hls_endpoint_test.exs
Owners: @mickel8, @Karolk99

Try fix s3 objects if file storage is present
  integration_test/test/recording_endpoint_test.exs
  integration_test/test/support/crashing_recording_storage.ex
  recording/CHANGELOG.md
  recording/lib/recording_endpoint.ex
  recording/lib/storage/file.ex
  recording/lib/storage/s3.ex
  recording/test/storage/s3_test.exs
Owners: @mickel8

http file source
  file/lib/file_source_endpoint.ex
  file/mix.exs
  file/mix.lock
  file/test/file_endpoint_test.exs
Owners: @mickel8

.github/CODEOWNERS:

* @mickel8

# HLS
hls/ @Karolk99
*hls* @Karolk99

# RTSP
rtsp/ @sgfn
*rtsp* @sgfn
